<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    CATEGORIES
  </button>
  <div class="dropdown-menu" *ngFor="let category of categories">
    <a class="dropdown-item" href="#">{{ category.name }}</a>
  </div>
</div>
<div class="row">
  <div class="column" *ngFor="let product of products">
    <div class="card">
      <h3><img src="" alt="no images yet"></h3>
      <p>{{ product.description }}</p>
      <p>R{{ product.price }}</p>
    </div>
  </div>
</div>